
.heading {
    margin-top: 0%;
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 1%;
}

img {
    height: 7%;
    width: 7%;
    margin-left: 80%;
}

header {
    background-color: #FBF4E9;
}

.buttonDiv {
    text-align: center;
    margin-top: 7%;
}

input {
    display: block;
}

main {
    background-color: #FCD2D1;
    padding-bottom: 6%;
}

.enterCity {
width: 50%;
margin: auto;
padding-top: 2%;
}

.formDiv {
width: 50%;
margin: auto;
padding-top: 2%;
}

#cityInput {
    margin-top: 3%;
}

label {
    font-size: 2rem;
}

footer {
    background-color: #F3F0D7;
    padding-top: 4%;
    padding-bottom: 5%;
    text-align: center;
}